
ul{
    width: 90%;
    margin: 0 auto;
    padding: 0;
}
li{
    list-style-type:none;
    font-size: 20px;
    padding: 0 10px;
}

h1{
    font-size: 36px;
}
h2{
    font-size: 2.4rem;
    margin: 10px;

}
p{
    font-size: 1.8rem;
}
.music_wrap{
    /* display: flex; */
    margin: 20px auto;
    text-align: center;
}
.song_wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}
.img_wrap>img{
    display: block;
    height: 250px;
    width: 250px;
    object-fit: cover;
    margin: 60px auto 5px;
}
form{
    display: block;
    margin: 60px auto;
}

.btn{
    font-size: 24px;
}


main h1 {
    background: gray;
    color: white;
    text-align: center;
    z-index: 5;
}